<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SuperCollider-dev</string>
	<key>ordering</key>
	<array>
		<string>EAC732CB-6B38-4E0A-9BD4-D377562331D9</string>
		<string>FB64DE22-E1F3-48CC-AE67-21B7E008ADD5</string>
		<string>81F7F82A-5C77-463E-BE36-15E0DAFF9930</string>
		<string>81E4BC21-07E5-4E61-B5C8-3CC5B527C8CE</string>
		<string>0EE79AEB-E9A7-4ABE-98A0-6CDBF3F3777A</string>
		<string>E302F342-45F1-4B15-820A-289CEF92AB84</string>
		<string>89218E54-78ED-4C0B-92C9-8FEC7E3B2664</string>
		<string>F0523CC5-90CA-49B5-82BA-4EF94A675767</string>
		<string>F63E530D-4C84-4C66-9EAA-6FC504FA4587</string>
	</array>
	<key>uuid</key>
	<string>7613A472-3FAB-454C-8CF2-2E62F0D00920</string>
</dict>
</plist>
